@import 'style.css';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body .header {
  width: 100%;
  height: 50px;
  padding-top: 50px;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
body .header .head {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
body .header .head .logo {
  width: 135px;
}
body .header .head .logo a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: 800;
  font-family: Syne;
}
body .header .head .servs {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
body .header .head .servs a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  font-family: Syne;
}
body .header .head .servs a:hover {
  text-decoration: underline;
}
body .header .head .sign_up {
  width: 250px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
body .header .head .sign_up .hr_sign {
  height: 25px;
  width: 2px;
  background-color: rgb(91, 91, 79);
}
body .header .head .sign_up button {
  text-decoration: none;
  color: rgb(151, 1, 1);
  font-size: 16px;
  font-weight: 400;
  font-family: Syne;
  border: none;
  background: none;
  padding: 15px 25px;
  transition: 0.2s ease-in;
  border: 1px solid rgb(189, 70, 70);
  border-radius: 50px;
}
body .header .head .sign_up button:hover {
  background: rgb(189, 70, 70);
  color: white;
}
body main .backs {
  display: none;
}
body main .back {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main .back a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: 800;
  font-family: Syne;
  margin-bottom: 10px;
}
body main .jakor {
  position: fixed;
  z-index: 10;
  margin-left: 95%;
  margin-top: 40%;
  background-color: #FD3B3B;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
body main .jakor h1 {
  font-size: 45px;
  height: 40px;
}
body main .sec1 {
  width: 100%;
  padding-top: 150px;
  padding-bottom: 50px;
  background-image: url(../photo/a8ada61ecf308588b0e927a753936952.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
body main .sec1 .sec_1 {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
body main .sec1 .sec_1 h2 {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 800;
  font-family: Syne;
}
body main .sec1 .sec_1 h1 {
  margin-top: 20px;
  text-decoration: none;
  color: white;
  font-size: 55px;
  font-weight: 800;
  font-family: Syne;
}
body .sec2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .sec2 .sec_2 {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
body .sec2 .sec_2 .cars_hide {
  width: 500px !important;
}
body .sec2 .sec_2 .cars {
  width: 900px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .sec2 .sec_2 .cars .car_1_div .car_1 {
  width: 700px;
}
body .sec2 .sec_2 .cars .car_all_div {
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .sec2 .sec_2 .cars .car_all_div .car_2 {
  width: 240px;
}
body .sec2 .sec_2 .cars .car_all_div .car_3 {
  width: 240px;
}
body .sec2 .sec_2 .cars .car_all_div .car_4 {
  width: 240px;
}
body .sec2 .sec_2 .cars .car_all_div .hov_car {
  border: 1px solid #FD3B3B;
}
body .sec2 .sec_2 .menu_car {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-left: 20px;
}
body .sec2 .sec_2 .menu_car .price {
  padding-top: 100px;
}
body .sec2 .sec_2 .menu_car .price h1 {
  text-decoration: none;
  color: black;
  font-size: 45px;
  font-weight: 800;
  font-family: Syne;
  width: 550px;
}
body .sec2 .sec_2 .menu_car .price h3 {
  text-decoration: none;
  color: rgb(152, 152, 152);
  font-size: 21px;
  font-weight: 600;
  font-family: Syne;
  width: 240px;
  margin: 25px 0 10px 0;
}
body .sec2 .sec_2 .menu_car .price h2 {
  text-decoration: none;
  color: black;
  font-size: 45px;
  font-weight: 500;
  font-family: Syne;
  width: 150px;
}
body .sec2 .sec_2 .menu_car .price p {
  text-decoration: none;
  color: rgb(152, 152, 152);
  font-size: 18px;
  font-weight: 500;
  font-family: Syne;
  width: 450px;
  margin-top: 25px;
}
body .sec2 .sec_2 .menu_car .plus_minus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 300px;
  margin: 50px 0 40px 0;
}
body .sec2 .sec_2 .menu_car .plus_minus .minus {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: 400;
  font-family: Syne;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  border: 1px solid;
  transition: all 0.2s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .sec2 .sec_2 .menu_car .plus_minus .minus:hover {
  color: white;
  background: black;
  font-size: 30px;
}
body .sec2 .sec_2 .menu_car .plus_minus .number_pl_mn {
  text-decoration: none;
  color: black;
  font-size: 45px;
  font-weight: 500;
  font-family: Syne;
}
body .sec2 .sec_2 .menu_car .plus_minus .plus {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: 400;
  font-family: Syne;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  border: 1px solid;
  transition: all 0.2s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .sec2 .sec_2 .menu_car .plus_minus .plus:hover {
  color: white;
  background: black;
  font-size: 35px;
}
body .sec2 .sec_2 .menu_car .plus_minus .b_now {
  text-decoration: none;
  color: rgb(151, 1, 1);
  font-size: 16px;
  font-weight: 700;
  font-family: Syne;
  border: none;
  background: none;
  padding: 15px 25px;
  transition: 0.2s ease-in;
  border: 1px solid rgb(189, 70, 70);
  border-radius: 50px;
}
body .sec2 .sec_2 .menu_car .plus_minus .b_now:hover {
  background: rgb(189, 70, 70);
  color: white;
}
body .sec2 .sec_2 .menu_car .specific {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px 25px;
}
body .sec2 .sec_2 .menu_car .specific .spc_1 {
  grid-column: 1/2;
  grid-row: 1/2;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  font-family: Syne;
}
body .sec2 .sec_2 .menu_car .specific .spc_2 {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  width: 130px;
}
body .sec2 .sec_2 .menu_car .specific .spc_2 img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
body .sec2 .sec_2 .menu_car .specific .spc_2 p {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  font-family: Syne;
}
body .sec2 .sec_2 .menu_car .specific .spc_3 {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  width: 130px;
}
body .sec2 .sec_2 .menu_car .specific .spc_3 img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
body .sec2 .sec_2 .menu_car .specific .spc_3 p {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  font-family: Syne;
}
body .sec2 .sec_2 .menu_car .specific .spc_4 {
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  width: 130px;
}
body .sec2 .sec_2 .menu_car .specific .spc_4 img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
body .sec2 .sec_2 .menu_car .specific .spc_4 p {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  font-family: Syne;
}
body .sec2 .sec_2 .menu_car .specific .spc_5 {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  width: 130px;
}
body .sec2 .sec_2 .menu_car .specific .spc_5 img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
body .sec2 .sec_2 .menu_car .specific .spc_5 p {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  font-family: Syne;
}
body .sec2 .sec_2 .menu_car .specific .spc_6 {
  grid-column: 1/2;
  grid-row: 4/5;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  width: 130px;
}
body .sec2 .sec_2 .menu_car .specific .spc_6 img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
body .sec2 .sec_2 .menu_car .specific .spc_6 p {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
  font-family: Syne;
}
body .sec2 .sec_2 .menu_car .color_car p {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  font-family: Syne;
  margin-bottom: 20px;
}
body .sec2 .sec_2 .menu_car .color_car .red {
  background-color: #FD3B3B;
  border: 1px solid;
  border-radius: 50px;
  width: 30px;
  height: 30px;
}
body .sec2 .sec_2 .menu_car .color_car .black {
  background-color: black;
  border: 1px solid;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  margin: 0 15px;
}
body .sec2 .sec_2 .menu_car .color_car .white {
  background-color: white;
  border: 1px solid;
  border-color: black;
  border-radius: 50px;
  width: 30px;
  height: 30px;
}

@font-face {
  font-family: Syne;
  src: url(/shrift/Syne-VariableFont_wght.ttf);
}/*# sourceMappingURL=style.css.map */